* {
  font-family: "Lato", sans-serif
}

input {
  background: rgb(239, 238, 239);
}

.error {
  color: purple;
}

p {
  font-size: 150%;
}

.spinner {
  display: none;
  position: relative;
  top: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  border: 8px solid #f3f3f3;
  border-color: rgb(239, 238, 239);
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 5rem;
  height: 5rem;
  color: rgb(70, 172, 236);
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  padding-top: 70px;
}

.spacer {
  height: 10vh;
}

#submit_button {
  margin-bottom: 100px;
}

/* overlay styles, all needed */
#overlay_content {
  height: 80vh;
  overflow: auto;
  margin-top: 100px;
  background-color: #f8f4f4;
  border-radius: 10px;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
  padding: 25px;
}

.overlay_text {
  margin-top: -10px;
}

.overlay_button {
  margin-top: 10px;
  margin-bottom: 5px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
